<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Finalizacion" value="Normal"></add>
    <add key="TNocontesta" value="20"></add>
    <add key="MaxLineas" value="2"></add>
    <add key="MensajeWav" value="NULL"></add>
    <add key="MaxTEspera" value="20"></add>
    <add key="MaxReintentos" value="2"></add>
    <add key="TEntreIntNoContesta" value="1"></add>
    <add key="TEntreIntComunica" value="1"></add>
    <add key="TEntreIntErrorLinea" value="1"></add>
    <add key="Intensidad" value="1"></add>
    <add key="Estado" value="En construccion"></add>
    <add key="TransferToExtension" value="555"></add>
    <add key="Modo" value="Progresiva"></add>
    
    <add key="ActivoLunesViernes" value="1"/>
    <add key="HoraInicioLunesViernes1" value="08:00"/>
    <add key="HoraFinLunesViernes1" value="13:59"/>
    <add key="HoraInicioLunesViernes2" value="15:29"/>
    <add key="HoraFinLunesViernes2" value="19:59"/>
    <add key="ActivoSabado" value="1"/>
    <add key="HoraInicioSabado1" value="08:00"/>
    <add key="HoraFinSabado1" value="13:59"/>
    <add key="HoraInicioSabado2" value="15:29"/>
    <add key="HoraFinSabado2" value="19:59"/>  
    <add key="ActivoDomingo" value="1"/>
    <add key="HoraInicioDomingo1" value="08:00"/>
    <add key="HoraFinDomingo1" value="13:59"/>
    <add key="HoraInicioDomingo2" value="15:29"/>
    <add key="HoraFinDomingo2" value="19:59"/>
    <add key="Festivos" value="2016/01/01,2016/06/01"/>

    <add key="WSUrl" value="C:\Proyectos\C#\Mistral\HospitalAutodialerService\webservice\"/>
    <add key="Listin" value="ListinMalo.txt"/>
    <add key="Resultados" value="Resultados.txt"/>

    <add key="HorasInicioCampaña" value="L:1300;M:1300;X:1300;J:1605;V:1300;S:1300;D:1300"/>
    <add key="HorasCargaResultados" value="L:1300;M:1300;X:1300;J:1610;V:1300;S:1300;D:1300"/>
  </appSettings>
</configuration>